Full_Load_LH.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "name": "Get Tables",
        "description": "",
        "type": "Lookup",
        "dependsOn": [
          {
            "activity": "Initialize log file",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 3,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "source": {
            "type": "DataWarehouseSource",
            "sqlReaderQuery": {
              "value": "SELECT \n  cast(NEWID() as NVARCHAR(100)) AS log_id\n  , lower(SOURCE_SCHEMA) as schema_name\n  , lower(SOURCE_TABLE) as table_name\n  , DESTINATION_TABLE as destination_table\n  , VERSION as VERSION\n  , LH_NAME AS LH_name\n  , 'dbo'  AS LH_schema\nFROM \n    [DEV_Ingestion_DP_Lakehouse].[dbo].[fabric_metadata]\nwhere ACTIVE = 1 \n  AND LOADING_METHOD = 'Full';",
              "type": "Expression"
            },
            "queryTimeout": "02:00:00",
            "partitionOption": "None"
          },
          "firstRowOnly": false,
          "datasetSettings": {
            "annotations": [],
            "linkedService": {
              "name": "DW_DEV",
              "properties": {
                "annotations": [],
                "type": "DataWarehouse",
                "typeProperties": {
                  "endpoint": "fgm6cdfxlexujcq5ohbjdqfdce-udckoy2gpyyudnpobmz5nhss5m.datawarehouse.fabric.microsoft.com",
                  "artifactId": "5d8bbdb3-60f1-4115-b697-bb21134b8787",
                  "workspaceId": "63a7c4a0-7e46-4131-b5ee-0b33d69e52eb"
                }
              }
            },
            "type": "DataWarehouseTable",
            "schema": [],
            "typeProperties": {}
          }
        }
      },
      {
        "name": "Copy Data Loop",
        "type": "ForEach",
        "dependsOn": [
          {
            "activity": "Get Tables",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "typeProperties": {
          "items": {
            "value": "@activity('Get Tables').output.value",
            "type": "Expression"
          },
          "isSequential": false,
          "batchCount": 10,
          "activities": [
            {
              "name": "Copy Columns",
              "type": "TridentNotebook",
              "dependsOn": [
                {
                  "activity": "Insert row into log file",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "notebookId": "0602e779-bd83-4057-8cd5-ae917061c46b",
                "workspaceId": "63a7c4a0-7e46-4131-b5ee-0b33d69e52eb",
                "parameters": {
                  "table_name": {
                    "value": {
                      "value": "@item().table_name",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "schema_name": {
                    "value": {
                      "value": "@item().schema_name",
                      "type": "Expression"
                    },
                    "type": "string"
                  }
                }
              }
            },
            {
              "name": "Insert row into log file",
              "type": "TridentNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "notebookId": "a1ef9433-eb62-4734-8fe1-751a45647acd",
                "workspaceId": "63a7c4a0-7e46-4131-b5ee-0b33d69e52eb",
                "parameters": {
                  "table_name": {
                    "value": {
                      "value": "@item().table_name",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "schema_name": {
                    "value": {
                      "value": "@item().schema_name",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "task": {
                    "value": "Copy Columns",
                    "type": "string"
                  },
                  "status": {
                    "value": "Running",
                    "type": "string"
                  },
                  "log_id": {
                    "value": {
                      "value": "@item().log_id",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "filename": {
                    "value": {
                      "value": "@pipeline().parameters.filename",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "filepath": {
                    "value": {
                      "value": "@pipeline().parameters.filepath",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "pipeline": {
                    "value": {
                      "value": "@pipeline().parameters.pipeline",
                      "type": "Expression"
                    },
                    "type": "string"
                  }
                }
              }
            },
            {
              "name": "Reconciliation Checks",
              "type": "TridentNotebook",
              "dependsOn": [
                {
                  "activity": "Log Copy Data",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "notebookId": "45df444b-41c2-498a-89ab-a5c5756d208e",
                "workspaceId": "63a7c4a0-7e46-4131-b5ee-0b33d69e52eb",
                "parameters": {
                  "source_schema": {
                    "value": {
                      "value": "@item().schema_name",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "source_table": {
                    "value": {
                      "value": "@item().table_name",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "destination_table": {
                    "value": {
                      "value": "@item().destination_table",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "suffix": {
                    "value": "",
                    "type": "string"
                  },
                  "filename": {
                    "value": {
                      "value": "@pipeline().parameters.filename",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "filepath": {
                    "value": {
                      "value": "@pipeline().parameters.filepath",
                      "type": "Expression"
                    },
                    "type": "string"
                  }
                }
              }
            },
            {
              "name": "Copy raw data from source system",
              "type": "Copy",
              "dependsOn": [
                {
                  "activity": "Copy Columns",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 3,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "source": {
                  "type": "SqlServerSource",
                  "sqlReaderQuery": {
                    "value": "@json(activity('Copy Columns').output.result.exitValue)['sql_stmt']",
                    "type": "Expression"
                  },
                  "queryTimeout": "02:00:00",
                  "partitionOption": "None",
                  "datasetSettings": {
                    "annotations": [],
                    "type": "SqlServerTable",
                    "schema": [],
                    "typeProperties": {
                      "database": "AdventureWorks"
                    },
                    "externalReferences": {
                      "connection": "b315030a-0c28-495a-92d7-a6c0c1cabdf7"
                    }
                  }
                },
                "sink": {
                  "type": "LakehouseTableSink",
                  "tableActionOption": "Overwrite",
                  "partitionOption": "None",
                  "datasetSettings": {
                    "annotations": [],
                    "linkedService": {
                      "name": "DEV_Ingestion_DP_Lakehouse",
                      "properties": {
                        "annotations": [],
                        "type": "Lakehouse",
                        "typeProperties": {
                          "workspaceId": "63a7c4a0-7e46-4131-b5ee-0b33d69e52eb",
                          "artifactId": "04428fdd-b859-4bbe-b9a3-9d1eff092896",
                          "rootFolder": "Tables"
                        }
                      }
                    },
                    "type": "LakehouseTable",
                    "schema": [],
                    "typeProperties": {
                      "table": {
                        "value": "@concat('aw_', json(activity('Copy Columns').output.result.exitValue)['tbl'])",
                        "type": "Expression"
                      }
                    }
                  }
                },
                "enableStaging": false,
                "translator": {
                  "type": "TabularTranslator",
                  "typeConversion": true,
                  "typeConversionSettings": {
                    "allowDataTruncation": true,
                    "treatBooleanAsNumber": false
                  }
                }
              }
            },
            {
              "name": "Log Copy Data",
              "type": "TridentNotebook",
              "dependsOn": [
                {
                  "activity": "Copy raw data from source system",
                  "dependencyConditions": [
                    "Completed"
                  ]
                }
              ],
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "notebookId": "a1ef9433-eb62-4734-8fe1-751a45647acd",
                "workspaceId": "63a7c4a0-7e46-4131-b5ee-0b33d69e52eb",
                "parameters": {
                  "status": {
                    "value": {
                      "value": "@activity('Copy raw data from source system').output.executionDetails[0].status",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "table_name": {
                    "value": {
                      "value": "@item().table_name",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "schema_name": {
                    "value": {
                      "value": "@item().schema_name",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "task": {
                    "value": "Copy Data to staging table of Lakehouse",
                    "type": "string"
                  },
                  "log_id": {
                    "value": {
                      "value": "@item().log_id",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "rows_cnt": {
                    "value": {
                      "value": "@if(empty(activity('Copy raw data from source system').output.errors), activity('Copy raw data from source system').output.rowsCopied, -100)",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "filename": {
                    "value": {
                      "value": "@pipeline().parameters.filename",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "filepath": {
                    "value": {
                      "value": "@pipeline().parameters.filepath",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "pipeline": {
                    "value": {
                      "value": "@pipeline().parameters.pipeline",
                      "type": "Expression"
                    },
                    "type": "string"
                  }
                }
              }
            }
          ]
        }
      },
      {
        "name": "Initialize log file",
        "type": "TridentNotebook",
        "dependsOn": [],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "notebookId": "954fcc1d-ef89-40d5-b220-d782081984ca",
          "workspaceId": "63a7c4a0-7e46-4131-b5ee-0b33d69e52eb",
          "parameters": {
            "filename": {
              "value": "tmp_ctrl_log",
              "type": "string"
            },
            "filepath": {
              "value": "abfss://Ingestion_DP_DEV_workspace@onelake.dfs.fabric.microsoft.com/DEV_Ingestion_DP_Lakehouse.Lakehouse/Files/",
              "type": "string"
            }
          }
        }
      },
      {
        "name": "Aggregate stats",
        "type": "TridentNotebook",
        "dependsOn": [
          {
            "activity": "Copy Data Loop",
            "dependencyConditions": [
              "Completed"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "notebookId": "dc64abf3-3d08-4008-be33-2344ba90bbfc",
          "workspaceId": "63a7c4a0-7e46-4131-b5ee-0b33d69e52eb",
          "parameters": {
            "filepath": {
              "value": {
                "value": "@pipeline().parameters.filepath",
                "type": "Expression"
              },
              "type": "string"
            },
            "filename": {
              "value": {
                "value": "@pipeline().parameters.filename",
                "type": "Expression"
              },
              "type": "string"
            },
            "LH": {
              "value": {
                "value": "@pipeline().parameters.LH",
                "type": "Expression"
              },
              "type": "string"
            }
          }
        }
      },
      {
        "name": "Update Fabric Metadata",
        "type": "TridentNotebook",
        "dependsOn": [
          {
            "activity": "Aggregate stats",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "notebookId": "45c20011-b6bf-4f2b-87bd-1161327960a4",
          "workspaceId": "63a7c4a0-7e46-4131-b5ee-0b33d69e52eb"
        }
      }
    ],
    "parameters": {
      "pipeline": {
        "type": "string",
        "defaultValue": "Full Load"
      },
      "filename": {
        "type": "string",
        "defaultValue": "tmp_ctrl_log"
      },
      "filepath": {
        "type": "string",
        "defaultValue": "abfss://Ingestion_DP_DEV_workspace@onelake.dfs.fabric.microsoft.com/DEV_Ingestion_DP_Lakehouse.Lakehouse/Files/"
      },
      "LH": {
        "type": "string",
        "defaultValue": "DEV_Ingestion_DP_Lakehouse"
      }
    },
    "variables": {
      "schema_name": {
        "type": "String"
      },
      "table_name": {
        "type": "String"
      },
      "select_stm": {
        "type": "String"
      },
      "destination_table": {
        "type": "String"
      },
      "version": {
        "type": "String"
      },
      "CopyColumns": {
        "type": "String"
      },
      "CopyData": {
        "type": "String"
      },
      "log_id": {
        "type": "String"
      },
      "rows_cnt": {
        "type": "String"
      },
      "reconciliation_status": {
        "type": "String"
      }
    },
    "logicAppsConnectionPayload": {
      "id": "/subscriptions/c0dee194-fd05-4e36-9afb-f08423968654/resourceGroups/connections-f70edf09-787c-41b5-a762-45afe1ab1e08/providers/Microsoft.Web/connections/2_4e756db3-bbf4-4b25-98f4-cf341afe6cd5_42853e0b-331b-4e70-9ffd-108951a40ddb",
      "properties": {
        "api": {
          "name": "teams",
          "id": "/subscriptions/c0dee194-fd05-4e36-9afb-f08423968654/providers/Microsoft.Web/locations/northeurope/managedApis/teams"
        }
      }
    }
  }
}