Load_system_tables.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "SqlServerSource",
            "sqlReaderQuery": "SELECT    'INFORMATION_SCHEMA' as schema_name  ,'TABLES' as table_name  Union SELECT   'INFORMATION_SCHEMA' as schema_name  ,'COLUMNS' as table_name   Union SELECT 'SYS' as schema_name ,'PARTITIONS' as table_name UNION SELECT   'SYS' as schema_name   ,'OBJECT_ID' as table_name UNION SELECT 'INFORMATION_SCHEMA' AS schema_name     ,'KEY_COLUMN_USAGE'  as table_name UNION SELECT 'INFORMATION_SCHEMA' AS schema_name  ,'TABLE_CONSTRAINTS'  as table_name",
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "SqlServerTable",
            "typeProperties": {
              "database": "AdventureWorks"
            },
            "schema": [],
            "externalReferences": {
              "connection": "b315030a-0c28-495a-92d7-a6c0c1cabdf7"
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 3,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Get system tables name",
        "description": "",
        "dependsOn": []
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "isSequential": true,
          "items": {
            "value": "@activity('Get system tables name').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "type": "SqlServerSource",
                  "sqlReaderQuery": {
                    "value": "@json(activity('Load System Tables').output.result.exitValue)['sql_stmt']",
                    "type": "Expression"
                  },
                  "partitionOption": "None",
                  "queryTimeout": "02:00:00",
                  "datasetSettings": {
                    "type": "SqlServerTable",
                    "typeProperties": {
                      "database": "AdventureWorks"
                    },
                    "schema": [],
                    "externalReferences": {
                      "connection": "b315030a-0c28-495a-92d7-a6c0c1cabdf7"
                    },
                    "annotations": []
                  }
                },
                "sink": {
                  "type": "LakehouseTableSink",
                  "tableActionOption": "OverwriteSchema",
                  "partitionOption": "None",
                  "datasetSettings": {
                    "type": "LakehouseTable",
                    "typeProperties": {
                      "table": {
                        "value": "@json(activity('Load System Tables').output.result.exitValue)['tbl']",
                        "type": "Expression"
                      }
                    },
                    "schema": [],
                    "linkedService": {
                      "name": "DEV_Ingestion_DP_Lakehouse",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "f5c5104e-e3fe-42b5-86fe-952e684e2771",
                          "workspaceId": "00000000-0000-0000-0000-000000000000",
                          "rootFolder": "Tables"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "translator": {
                  "type": "TabularTranslator",
                  "typeConversion": true,
                  "typeConversionSettings": {
                    "allowDataTruncation": true,
                    "treatBooleanAsNumber": false
                  }
                },
                "enableStaging": false
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 3,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Copy System tables data",
              "dependsOn": [
                {
                  "activity": "Load System Tables",
                  "dependencyConditions": [
                    "Completed"
                  ]
                }
              ]
            },
            {
              "type": "TridentNotebook",
              "typeProperties": {
                "notebookId": "36c8dc89-2ce2-4e7b-a2f7-dddd37161d5c",
                "workspaceId": "00000000-0000-0000-0000-000000000000",
                "parameters": {
                  "table_name": {
                    "value": {
                      "value": "@item().table_name",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "schema_name": {
                    "value": {
                      "value": "@item().schema_name",
                      "type": "Expression"
                    },
                    "type": "string"
                  }
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Load System Tables",
              "dependsOn": []
            }
          ]
        },
        "name": "ForEach",
        "dependsOn": [
          {
            "activity": "Get system tables name",
            "dependencyConditions": [
              "Completed"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "fbca35f5-861c-4d8b-9e2f-9a4275b49e76",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "LH": {
              "value": "DEV_Ingestion_DP_Lakehouse",
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Create Tables",
        "dependsOn": [
          {
            "activity": "ForEach",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "variables": {
      "destination_table": {
        "type": "String"
      },
      "select_stm": {
        "type": "String"
      },
      "table_name": {
        "type": "String"
      },
      "schema_name": {
        "type": "String"
      },
      "LH": {
        "type": "String"
      }
    }
  }
}