Load_Counts_Daily_LH.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "name": "Tables to be loaded",
        "type": "Lookup",
        "dependsOn": [],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource"
          },
          "firstRowOnly": false,
          "datasetSettings": {
            "annotations": [],
            "linkedService": {
              "name": "DEV_Ingestion_DP_Lakehouse",
              "properties": {
                "annotations": [],
                "type": "Lakehouse",
                "typeProperties": {
                  "workspaceId": "63a7c4a0-7e46-4131-b5ee-0b33d69e52eb",
                  "artifactId": "04428fdd-b859-4bbe-b9a3-9d1eff092896",
                  "rootFolder": "Tables"
                }
              }
            },
            "type": "LakehouseTable",
            "schema": [],
            "typeProperties": {
              "table": "fabric_metadata"
            }
          }
        }
      },
      {
        "name": "ForEach1",
        "type": "ForEach",
        "dependsOn": [
          {
            "activity": "Truncate table",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "typeProperties": {
          "items": {
            "value": "@activity('Tables to be loaded').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "name": "Copy counts",
              "type": "Copy",
              "dependsOn": [
                {
                  "activity": "Create select_stm",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 3,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "source": {
                  "type": "SqlServerSource",
                  "sqlReaderQuery": {
                    "value": "@activity('Create select_stm').output.result.exitValue",
                    "type": "Expression"
                  },
                  "queryTimeout": "02:00:00",
                  "partitionOption": "None",
                  "datasetSettings": {
                    "annotations": [],
                    "type": "SqlServerTable",
                    "schema": [],
                    "typeProperties": {
                      "database": "AdventureWorks"
                    },
                    "externalReferences": {
                      "connection": "b315030a-0c28-495a-92d7-a6c0c1cabdf7"
                    }
                  }
                },
                "sink": {
                  "type": "LakehouseTableSink",
                  "tableActionOption": "Append",
                  "partitionOption": "None",
                  "datasetSettings": {
                    "annotations": [],
                    "linkedService": {
                      "name": "DEV_Ingestion_DP_Lakehouse",
                      "properties": {
                        "annotations": [],
                        "type": "Lakehouse",
                        "typeProperties": {
                          "workspaceId": "63a7c4a0-7e46-4131-b5ee-0b33d69e52eb",
                          "artifactId": "04428fdd-b859-4bbe-b9a3-9d1eff092896",
                          "rootFolder": "Tables"
                        }
                      }
                    },
                    "type": "LakehouseTable",
                    "schema": [],
                    "typeProperties": {
                      "table": "aw_source_counts"
                    }
                  }
                },
                "enableStaging": false,
                "translator": {
                  "type": "TabularTranslator",
                  "typeConversion": true,
                  "typeConversionSettings": {
                    "allowDataTruncation": true,
                    "treatBooleanAsNumber": false
                  }
                }
              }
            },
            {
              "name": "Create select_stm",
              "type": "TridentNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 3,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "notebookId": "89ea96b5-836c-45fd-a573-93696f2593a4",
                "workspaceId": "63a7c4a0-7e46-4131-b5ee-0b33d69e52eb",
                "parameters": {
                  "table_name": {
                    "value": {
                      "value": "@item().SOURCE_TABLE",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "schema_name": {
                    "value": {
                      "value": "@item().SOURCE_SCHEMA",
                      "type": "Expression"
                    },
                    "type": "string"
                  }
                }
              }
            }
          ]
        }
      },
      {
        "name": "Truncate table",
        "type": "TridentNotebook",
        "dependsOn": [
          {
            "activity": "Tables to be loaded",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "notebookId": "8cf75aba-503c-4a4b-96a2-3bf0e156e8ee",
          "workspaceId": "63a7c4a0-7e46-4131-b5ee-0b33d69e52eb",
          "parameters": {
            "LH": {
              "value": "DEV_Ingestion_DP_Lakehouse",
              "type": "string"
            },
            "LH_table_name": {
              "value": "aw_source_counts",
              "type": "string"
            }
          }
        }
      }
    ],
    "variables": {
      "schema_name": {
        "type": "String"
      },
      "table_name": {
        "type": "String"
      }
    }
  }
}